<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DevCraft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="MC_Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <DevCraft.Properties.Settings>
      <setting name="ServerDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="BackupDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="ServerDownload" serializeAs="String">
        <value>https://s3.amazonaws.com/Minecraft.Download/versions/1.8/minecraft_server.jar</value>
      </setting>
      <setting name="Frequency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Day" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Time" serializeAs="String">
        <value/>
      </setting>
      <setting name="CustomInterval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CustomIntervalType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DisplayStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimeEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SavedScheduleAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScheduleXML" serializeAs="String">
        <value/>
      </setting>
    </DevCraft.Properties.Settings>
    <MC_Admin.Properties.Settings>
      <setting name="ServerDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="BackupDirectory" serializeAs="String">
        <value/>
      </setting>
    </MC_Admin.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
